<h1>Editing author </h1>

<% form_for (@author) do |f| %>
  <%= f.error_messages %>
  
  <%= f.text_field  :author_last_name%>
  <%= f.text_field  :author_first_name%>
  
  <p>
    <%= f.submit  'Update' %>
  </p>
  <body>
    <div id="main">
      <% if flash[:notice] -%>
    <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
  <div>
  </p>
<% end %>

<%= link_to 'Show', @author %> |
<%= link_to 'Back', authors_path %>|
<%= link_to 'Book Listing', books_path %>