<h1>Add a New Book</h1>

<% form_for @book, :html => {:multipart => true} do |f| %> 
  <%= error_messages_for :books %>
  
  <p>
    <%= f.label  :title %>
    <%= f.text_field :title %>
   </p> 
   <p>
    <%= f.label  :isbn %>
    <%= f.text_field  :isbn %>
    </p>
    <%= f.label  :book_id %>
    <%= f.text_field :book_id %>
    <p>
    <%= f.label  :author_id %>
    <%= f.text_field :author_id %>
    </p>
    <%= f.label  :author_last_name %>
    <%= f.text_field :author_last_name %>
    <p>  
    <%= f.label  :author_first_name %>
    <%= f.text_field :author_first_name %>                             
    </p>

    <%= f.submit  "Create" %>
  </p>

<% end %>

