<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Children's Books</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery' %>
</head>
<body>
  <div id="header">
    <div id="login_logout">
      <% if @current_user %>
      Logged in as:
      <%= @current_user.login %>
      <em><%= link_to "(Logout)", session_path,
                      :method => :delete %></em>
      <% else %>
        <em>Not logged in.</em>
        <%= link_to 'Login', new_session_path %>
        <%= link_to 'New User', new_user_path %>
      <% end %>
    </div>
    <body id="books">
      <div id="banner">
        <%= image_tag("LLlogohere.jpg") %>
        <%= @page_title || "Learners Lane Bookshop" %>
      </div>
        <div id="columns">
          <a href="http://localhost:3000/authors">Authors</a><br />
          <a href="http://localhost:3000/books">Books</a><br />
          <%= link_to "Add New Book", new_book_path %></a><br/>
          <a href="http://localhost:3000/bookcharacters">Animals in Books</a><br />
          <a href="http://localhost:3000/users">New User Sign Up</a><br />
        </div>  
          <div id="main">
          <ul id="navigation">
        <%#= link_to 'Home Page', "/books" %>
        <%#= link_to 'Submit a Book Review' %>
        </ul>
   </div>
    <div id="content">
      <% if flash[:notice]%>
      <div class="notice">
      <%= flash[:notice]%>
      <% end -%>
      <%= yield %>
    </div>

  </body>
  </html>
